{% assign certs = site.data.data.sidebar.certs %}
{% if certs %}
<div class="interests-container container-block">

  <h2 class="container-block-title">
    Certifications
  </h2>

  <ul class="list-unstyled interests-list">
    {% for certify in certs %}

      {% if certify.link %}
      <li><a href="{{ certify.link }}" target="_blank">{{ certify.item }}</a></li>
      {% else %}
      <li>{{ certify.item }}</li>
      {% endif %}

    {% endfor %}
  </ul>

</div><!--//interests-->
{% endif %}
